.container {
  background: #bfedfc;
  overflow: hidden;
  padding: 20px 0;
}

.title {
  float: left;
  font-size: 16px;
  margin-left: 20px;
  margin: 0;
  margin-left: 20px;
  margin-top: 5px;
  border-right: 2px solid #ccc;
  padding-right: 30px;
  /* margin-right: 30px; */
}

.list {
  float: left;
  list-style: none;
  padding: 0;
  /* border: 1px solid; */
  height: 30px;
  overflow: hidden scroll;
  margin: 0;
  margin-left: 50px;
}

.list li {
  height: 30px;
  line-height: 30px;
}